<!-- <footer class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/AirbnbIndia"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/airbnb_in"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wonderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->
<hr>
<footer class="bg-light text-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:support@airbnb.com">support@wonderlust.com</a></p>
                <p>Phone: +91 9135449191</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="https://www.facebook.com/AirbnbIndia" class="me-2"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/airbnb/" class="me-2"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://x.com/airbnb_in"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 mb-3">
                <h5>Property Information</h5>
                <p>Check-in: 3 PM</p>
                <p>Check-out: 11 AM</p>
                <p><a href="#">House Rules</a></p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Emergency Contacts</h5>
                <p>Local Emergency Services: 911</p>
                <p>Nearest Hospital: <a href="#">Hospital Name & Contact Info</a></p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Explore Nearby</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Attractions</a></li>
                    <li><a href="#">Restaurants</a></li>
                    <li><a href="#">Transportation Options</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 Your Airbnb. All Rights Reserved.</p>
        </div>
    </div>
</footer>
